.vs/Makexml/FileContentIndex/8cca074b-4dbf-4954-b804-3bf915693794.vsidx
.vs/Makexml/FileContentIndex/d4f3b1d2-e72c-4937-ba28-120c956574a8.vsidx
.vs/Makexml/FileContentIndex/read.lock
.vs/Makexml/v17/.suo
Makexml/Makexml.csproj.user
Makexml/bin/Debug/Makexml.exe
Makexml/bin/Debug/Makexml.exe.config
Makexml/bin/Debug/Makexml.pdb
Makexml/bin/Debug/test.xml
Makexml/bin/Release/Makexml.exe
Makexml/bin/Release/Makexml.exe.config
Makexml/bin/Release/Makexml.pdb
Makexml/bin/Release/test.xml
Makexml/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.cs
Makexml/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Makexml/obj/Debug/Makexml.csproj.AssemblyReference.cache
Makexml/obj/Debug/Makexml.csproj.CoreCompileInputs.cache
Makexml/obj/Debug/Makexml.csproj.FileListAbsolute.txt
Makexml/obj/Debug/Makexml.csproj.SuggestedBindingRedirects.cache
Makexml/obj/Debug/Makexml.exe
Makexml/obj/Debug/Makexml.pdb
Makexml/obj/Release/.NETFramework,Version=v4.6.2.AssemblyAttributes.cs
Makexml/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Makexml/obj/Release/Makexml.csproj.AssemblyReference.cache
Makexml/obj/Release/Makexml.csproj.CoreCompileInputs.cache
Makexml/obj/Release/Makexml.csproj.FileListAbsolute.txt
Makexml/obj/Release/Makexml.csproj.SuggestedBindingRedirects.cache
Makexml/obj/Release/Makexml.exe
Makexml/obj/Release/Makexml.pdb
